

#history-body{
    background-color: #eee;
    padding: 40px 40px 30px 40px;
    width: 100%;
    margin: 0px auto;
    box-shadow:0px 5px 15px #444;
    text-align: left;
    overflow: auto;
}
.wrapper {
    position:relative;
    padding: 0px 20px 20px 20px;
    margin: auto auto 10px auto;
    overflow: hidden;
}
#header-image{
    text-align: center;
    margin: -40px -40px 20px -40px;
}
#header-image img{
    width: 100%;
}
#admirals-name{
    font-size: 50px;
    font-family: "Anton", arial, sans-serif;
    text-align: center;
    margin-bottom: 40px;
}
.body-text {
    font-size: 16px;
    font-family: "Roboto", arial,sans-serif;
}
.body-text p {
    margin: 40px;
}